body {
    width: 100%;
    height: 100%;
    background-image: url(ana.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.botão{
    background-color: rgb(255, 0, 128) rgb(241, 123, 192);
    color:rgb(255, 127, 144);
    border;:none;
    padding: 6px 5px;
    cursor: pointer;
    transition: 0.3s aese;
}
.botao:hover{
    background-color: rgb(255, 0, 128);
}
.cabecalho{
   background-color: rgb(255, 127, 159);
   padding: 50px;
   width: 60%;
   border-style: groove;
   border-color: rgb(255, 0, 119);
}
p {
    font-size: 30px;

}